<h3 class="admin-profile"> "#{@admin.full_name}" </h3>
 <div class="container">
  <div class="card-body">
   <h3> ID <%= @admin.id %> </h3>
   <br>
   <h3> Photo <%= @admin.photo_url %> </h3>
   <br>
   <h3> Username <%= @admin.username %> </h3>
   <br>
   <a href"/admins"><h3>Back to Admins</h3></a>
   <br>
  </div>
 </div>

 