<nav class="sidebar">
 <div class="sidebar-sticky">
  <ul class="nav-flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/">
        DASHBOARD
      </a>
      <br>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/students">
        STUDENTS
      </a>
      <br>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teachers">
        TEACHERS
      </a>
      <br>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/courses">
        COURSES
      </a>
      <br>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cohorts">
        COHORTS
      </a>
      <br>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/admins">
      ADMINS
    </a>
    <br>
  </li>