<div id="content-wrapper">
  <div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
  </ol>

  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="mr-5">14 Students</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="/students">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-user"></i>
          </div>
          <div class="mr-5">10 Teachers</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="/teachers">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-globe"></i>
          </div>
          <div class="mr-5">10 Courses</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="/courses">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-list"></i>
          </div>
          <div class="mr-5">10 Cohorts</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="/cohorts">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
  </div>
</div>