@import "font-awesome";
@import "bootstrap";

body {
    margin: 0 auto;
    padding: 0;
  }

  /* Navbar */

   .navbar {
    background-color: rgb(11, 77, 165);
    padding: 20px;
   }

   img {
    margin-bottom: -43px;
    margin-left: -20px;
   }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .navbar .nav-item {
    list-style-type: none;
  }

  .navbar .nav-item .nav-link {
    text-decoration: none;
    color: white;
    font-family: "Gill Sans";
  }
  
  .form-control-dark {
    color: #fff;
    background-color: white;
    width: 300px;
    border-color: rgba(255, 255, 255, 1);
    margin-top: -8px;
    margin-left: 280px;
  }

  .navbar-nav {
    display: inline-block;
    text-align: right;
    margin: 0 auto;
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: 400px;
  }

  .navbar-nav .nav-item.dropdown {
    display: inline-block;
  }

  .navbar-nav .nav-item.dropdown .nav-link {
    display: inline-block;
  }

  .nav-link .dropdown-toggle {
    right: 20px;
  }

  /* Sidebar */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    background-color: #40a5e0;
    padding: 100px 40px; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      text-align: left;
    }
  }

  .sidebar .nav-item {
    list-style-type: none;
    margin-left: -26px;
  }

  .sidebar .nav-link {
    font-family: "Gill Sans";
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

   /* Content */
  
   [role="main"] {
    padding-top: 64px; 
    height: 100vh; /* Space for fixed navbar */
  }




  